body{
    background-color: black;
}
main img {
    width: 250px;
    height: 180px;
    margin-left: 70px;
}
h1 {
    text-align: center;
    background: orange;
    color: white;
    padding: 18px;
    margin: 0px;
    font-family: comic sans ms;
}
main {
    background-color: rgb(255, 255, 120);
}
.oglavlenie {
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    color: #4682b4;
    background: #F5DEB3;
    padding: 10px;
    margin-top: 0px;
}
main nav a {
    text-decoration: none;
    color: #4682B4;
    margin: 125px;
    border: 3px solid orange;
    background: white;
    padding: 10px;
    border-radius: 10px;
    font-family: century gothic;
    font-size: 13px;
}
h2 {
    font-family: cursive;
    text-align: center;
    color: #4682B4;
    background: white;
    padding: 10px;
}
p {
    font-family: cursive;
}
table {
    border-collapse: collapse;
    margin-left: 200px;
}
.plusii {
    border: 3px solid springgreen;
    background: white;
    color: rgb(97, 185, 214);
    text-align: center;
    font-size: 20px;
    font-family: lucida console;
}
.minusii {
    border: 3px solid rgb(255, 110, 110);
    background: rgb(255, 255, 255);
    color: red;
    text-align: center;
    font-size: 20px;
    font-family: lucida console;
}
footer {
    background: black;
    color: orange;
    text-align: center;
    font-size: 20px;
    margin: 0px
}
.podval1 {
    border: 5px solid white;
    background: lightseagreen;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 110px;
    font-size: 15px;
    margin-top: 0px;
}
.podval2 {
    border: 5px solid white;
    background: red;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 70px;
    font-size: 15px;
    margin-top: 0px;
}
